<!DOCTYPE html>
<html>
    <head>
        <title>Foodback Tests</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    </head>
    <body>

    </body>
</html>
