@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
	text-align: center;
}

.page-container {
	margin-top: 70px;
	max-width: 850px;
}

#post_form {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
	padding-top: 20px;

    transition: all 1s ease;
}

#post_form textarea {
    resize: none;
}

.form-center {
	margin: 0 auto;
}